.vscode/ipch/915c07f0abc4ac46/LISTA.ipch
.vscode/ipch/915c07f0abc4ac46/mmap_address.bin
.vscode/ipch/915c0ef0abc4b82b/mmap_address.bin
.vscode/ipch/5c840b14e3cf4d53/main.ipch
.vscode/ipch/5c840b14e3cf4d53/mmap_address.bin
.vscode/ipch/e88baaf8fbbbc0db/lista.ipch
.vscode/ipch/e88baaf8fbbbc0db/mmap_address.bin
main
lista.o
.vscode/ipch/915c07f0abc4ac46/LISTA.ipch
.vscode/ipch/27247a2fd2b78ccc/mmap_address.bin
.vscode/ipch/27247a2fd2b78ccc/MAIN.ipch
.vscode/ipch/915c07f0abc4ac46/LISTA.ipch
.vscode/ipch/915c07f0abc4ac46/LISTA.ipch
.vscode/ipch/915c07f0abc4ac46/LISTA.ipch
.vscode/ipch/915c07f0abc4ac46/LISTA.ipch
